# Module::Builder files and directories
Build
Build.bat
/.build/
_build/
!Build/

# ExtUtils:MakeMaker files and directories
/Makefile
/Makefile.old

# XS-related intermediates
*.o
*.bs

# General intermediates
/blib/
inc/

# Coverage-related files and directories
cover_db/
.last_cover_stats

# Manifests and METAs
# (Yes, we ignore the MANIFEST.  That should be built at build time)
/MANIFEST
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*

# Other stuff
nytprof.out
/pm_to_blib
karl*